<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties">
        <!-- 启用默认值特性 -->
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/>
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="5555"/>-->
    </properties>
    <typeAliases>
        <package name="com.wdg.mybatis.pojo"></package>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username:root}"/>
                <property name="password" value="${password:5555}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 使用相对于类路径的资源引用 -->
        <!--<mapper resource="com/wdg/mybatis/mapper/BlogMapper.xml"/>-->
        <!-- 将包内的映射器接口实现全部注册为映射器 -->
        <!--<package name="com.wdg.mybatis.mapper"></package>-->
        <!-- 使用映射器接口实现类的完全限定类名 -->
        <!--<mapper class="com.wdg.mybatis.mapper.BlogMapper"></mapper>-->
        <!-- 使用完全限定资源定位符（URL） -->
        <mapper url="file:///F:/pop-framework-source/WuDG/pop-framework/pop-framework-mybatis/src/main/resources/com/wdg/mybatis/mapper/BlogMapper.xml"></mapper>
    </mappers>
</configuration>